<a href="https://colab.research.google.com/github/Mikop22/CFK/blob/main/Unti1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

 -- Fetch all restaurants
 SELECT * FROM restaurants;

 -- Add the restaurant address
 INSERT INTO addresses (
     id,
     street1,
     street2,
     city,
     state,
     zip,
     country
 )
 VALUES (
     uuid(),
     "33 King Street North",
     null,
     "Waterloo",
     "Ontario",
     "N2J 2W6",
     "Canada"
 );

 -- Get the UUID of the address that was just added
 SELECT * FROM addresses;

 -- address_id: e8afe921-03e4-425c-98cb-f7c3f8750304
 SELECT * FROM restaurants;

 -- When adding new restaurants, leave the logoUri, backgroundPhotoUri, and musicUri as empty string
 -- Ever since background music randomization is implemented, you can leave the musicUri as empty string and it'll still work
 -- Make sure to use the address_id created above and add it to the address_id of the restaurant INSERT statement
 INSERT INTO restaurants (
     id,
     name,
     description,
     logoUri,
     backgroundPhotoUri,
     musicUri,
     address_id
 )
 VALUES (
     uuid(),
     "Kinton Ramen (Waterloo)",
     "From rich pork to bold beef, light chicken, and vegetarian options, KINTON RAMEN offers a wide variety. We're sure you'll find your bowl of ramen!",
     "",
     "",
     "",
     "e8afe921-03e4-425c-98cb-f7c3f8750304"
 );

 -- GET the UUID of the restuarant that was just added
 SELECT * FROM restaurants;

 -- restaurant_id: be24b48a-9ec2-43e9-87aa-48e5419920e0
 -- Subsection is something like "Ramen", "Sides", "Desserts"
 SELECT * FROM sub_sections;

 -- Make sure to use the restaurant_id created above and add it to the restaurant_id of the sub_sections INSERT statement
 INSERT INTO sub_sections (
     id,
     name,
     restaurant_id
 )
 VALUES (
     uuid(),
     "Ramen",
     "be24b48a-9ec2-43e9-87aa-48e5419920e0"
 );

 -- subsection_id: 1450c80b-cb84-4806-a065-fc33704ddc58
 SELECT * FROM sub_sections;

 -- use the restaurant_id and subSection_id created from above
 -- the price is in cents so make sure to multiply 100 for every price you see on order pages
 -- ingredients is in JSON so make sure quote is opened and closed properly (otherwise you'll see an error)
 -- for nutritionalFacts only change the "value"
 -- you can keep the thumbnailUrl, videoUrl as empty string initially but updated the values later (up to you)
 INSERT INTO menus (
     id,
     name,
     price,
     description,
     ingredients,
     nutritionalFacts,
     thumbnailUrl,
     videoUrl,
     likeCount,
     estimatedMinute,
     discount,
     subSection_id,
     restaurant_id
 )
 VALUES (
     uuid(),
     "Beef Spicy Garlic Ramen",
     '{ "value": 1899, "currency": "CAD" }',
     "Beef spicy garlic ramen.",
     '["chili pepper", "beef", "bamboo shoots", "wood ear mushrooms", "grated garlic", "scallions"]',
     '[{"name": "Calories", "amount": {"unit": "kcal", "value": 746}}, {"name": "Fat", "amount": {"unit": "g", "value": 0}}, {"name": "Fiber", "amount": {"unit": "g", "value": 0}}, {"name": "Protein", "amount": {"unit": "g", "value": 0}}, {"name": "Carbs", "amount": {"unit": "g", "value": 0}}]',
     "https://d1inbgoespaevw.cloudfront.net/menus/thumbnails/beef-spicy-garlic-ramen.0000001.jpg",
     "https://d1inbgoespaevw.cloudfront.net/menus/videos/beef-spicy-garlic-ramen.m3u8",
     0,
     15,
     null,
     "1450c80b-cb84-4806-a065-fc33704ddc58",
     "be24b48a-9ec2-43e9-87aa-48e5419920e0"
 );

 -- GET the UUID of the menu that was just added
 SELECT * FROM menus;

 -- menu_id: ec08f5af-ddb4-445d-a74b-a6d2f1608e6c

 -- examples of adding multiple data in one INSERT statement
 -- if it's a required side_menu, use 1 for "required" and vice versa
 INSERT INTO side_menus (
     id,
     name,
     limitCount,
     required,
     menu_id
 )
 VALUES (
     uuid(),
     "Base",
     2,
     1,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 ), (
     uuid(),
     "Protein",
     5,
     0,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 ), (
     uuid(),
     "Premium Toppings",
     10,
     0,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 ), (
     uuid(),
     "Regular Toppings",
     10,
     0,
     "9ec5ac27-6445-11f0-b9ed-06729ee36129"
 );

 -- Actual side_menu INSERT statement for Kinton Ramen's Beef Spicy Garlic Ramen menu
 -- use the menu_id created from above

 -- To make it like a radio button (limitCount = 1)
 INSERT INTO side_menus (
     id,
     name,
     limitCount,
     required,
     menu_id
 )
 VALUES (
     uuid(),
     "Choice of Noodles",
     1,
     0,
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 );

 -- To make it like a -/+ button (limitCount > 1)
 INSERT INTO side_menus (
     id,
     name,
     limitCount,
     required,
     menu_id
 )
 VALUES (
     uuid(),
     "Additional Toppings",
     10,
     0,
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 );

 -- GET the UUID of the side_menu that was just added
 SELECT * FROM side_menus;

 -- sideMenu_id: ec08f5af-ddb4-445d-a74b-a6d2f1608e6c
 -- as long as the ID doesn't overlap with other rows in the same table, it's all good

 -- use the side_menu_id created from above
 -- always keep "amount" as null for now
 -- this is the scenario for limitCount 1 side_menu
 INSERT INTO side_menu_options (
     id,
     name,
     amount,
     price,
     type,
     side_menu_id
 ) VALUES (
     "3b878d4a-bb58-4d87-990e-e85a43d82283",
     "Thick",
     null,
     '{ "value": 0, "currency": "CAD" }',
     "SINGLE",
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 ), (
     "1db6edd9-1ff2-49d3-8816-14236b713c41",
     "Thin",
     null,
     '{ "value": 0, "currency": "CAD" }',
     "SINGLE",
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 ), (
     "c2ceb860-943a-4c14-996c-4ab31b488c30",
     "Shirataki",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c"
 );

 -- this is the scenario for limitCount > 1 side_menu
 -- use the side_menu_id created from above
 -- in limitCount > 1 situations, SINGLE only allows selection up to 1 for that specific side menu option
 -- in limitCount > 1 situations, MULTIPLE allows selection up to the limtCount for that specific side menu option
 INSERT INTO side_menu_options (
     id,
     name,
     amount,
     price,
     type,
     side_menu_id
 ) VALUES (
     uuid(),
     "Extra Noodle (Thin)",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Noodle (Thick)",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Soup Chicken",
     null,
     '{ "value": 549, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Soup Veg",
     null,
     '{ "value": 549, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Soup Beef",
     null,
     '{ "value": 549, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Shirataki Noodle",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Pork",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Chicken Breast",
     null,
     '{ "value": 399, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Extra Beef",
     null,
     '{ "value": 599, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Seasoned Egg",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Jalpeño Paste",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Bamboo Shoots",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Bean Sprouts",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Garlic Oil",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Grated Garlic",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Wood Ear Mushrooms",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Nori",
     null,
     '{ "value": 149, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Scallions",
     null,
     '{ "value": 149, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Seaweed",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Sweet Corn",
     null,
     '{ "value": 199, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 ), (
     uuid(),
     "Inari Tofu",
     null,
     '{ "value": 299, "currency": "CAD" }',
     "SINGLE",
     "380b8550-323f-4b09-966c-95e8518adefe"
 );

 SELECT * FROM restaurants;
 /*
 Login to AWS
 Go to S3 for findng where the files are stored

 For restaurants: need to use restaurant_background/ and restaurant_logo/ (restaurant_music/ can be ignored)

 Use https://squoosh.app/ to lower the quality and size of the photo -> if the original file is not too massive, don't worry about it
 - select webp as the file to be converted to
 - resize first if the resolution of the image is too high
 - try the 75 quality and then see if you can make 100 -> if the file size is not too big, it's good to go (< 300KB)
 - once the photo is optimized,

 When a photo is heic, use a heic to png/jpg converter online and then use the png/jpg to Squoosh: https://cloudconvert.com/heic-to-png

 The URL for the image or video -> https://d1inbgoespaevw.cloudfront.net/<route to the image>
 ex. https://d1inbgoespaevw.cloudfront.net/restaurant-background/cascabowls-background.webp

 For video upload

 First upload the video you want to use to S3 -> /menus/videos/raw
 Once uploaded, go to MediaConvert on AWS
 Go to Job templates from MediaConvert
 Click "Shortform Converter" and press "Create Job"
 In the input, select one of the raw videos uploaded to S3
 Once the input file is set, press the orange Create button at the bottom and wait for a bit (background task)
 Once the video conversion is completed, all you have to use for the videoUrl for the menu is something like this: https://d1inbgoespaevw.cloudfront.net/menus/videos/tokyo-fries.m3u8

 */

 SELECT * FROM menus;

In [ ]:
import psycopg2
from datetime import date

def get_target_menu_ids(connection, restaurant_id, subsection_id=None):
    """
    Get menu IDs based on restaurant_id and optional subsection_id

    Args:
        connection: psycopg2 connection object
        restaurant_id: The restaurant ID to filter by
        subsection_id: Optional subsection ID to filter by (None means no filter)

    Returns:
        List of menu IDs
    """
    cursor = connection.cursor()

    try:
        if subsection_id is not None:
            # Query with both restaurant_id and subsection_id filters
            query = """
                SELECT menu_id
                FROM menus
                WHERE restaurant_id = %s
                AND subsection_id = %s
                AND DATE(created_at) = %s
                ORDER BY created_at DESC;
            """
            cursor.execute(query, (restaurant_id, subsection_id, date.today()))
        else:
            # Query with only restaurant_id filter (subsection_id can be anything)
            query = """
                SELECT menu_id
                FROM menus
                WHERE restaurant_id = %s
                AND DATE(created_at) = %s
                ORDER BY created_at DESC;
            """
            cursor.execute(query, (restaurant_id, date.today()))

        # Fetch all results and extract menu IDs
        results = cursor.fetchall()
        target_menu_ids = [row[0] for row in results]

        return target_menu_ids

    except psycopg2.Error as e:
        print(f"Database error: {e}")
        return []
    finally:
        cursor.close()

# Example usage:
def main():
    # Database connection parameters
    conn_params = {
        'host': 'localhost',
        'database': 'your_database',
        'user': 'your_username',
        'password': 'your_password'
    }

    try:
        # Establish connection
        conn = psycopg2.connect(**conn_params)

        # Example 1: Get menus for a specific restaurant and subsection
        restaurant_id = "your-restaurant-id-here"
        subsection_id = "your-subsection-id-here"
        target_menu_ids = get_target_menu_ids(conn, restaurant_id, subsection_id)

        # Example 2: Get all menus for a restaurant (regardless of subsection)
        # target_menu_ids = get_target_menu_ids(conn, restaurant_id)

        print("Target Menu IDs:")
        for menu_id in target_menu_ids:
            print(f"  {menu_id}")

    except psycopg2.Error as e:
        print(f"Connection error: {e}")
    finally:
        if conn:
            conn.close()

In [ ]:
import uuid
import your_db_connector # e.g., psycopg2

# --- Configuration ---
TEMPLATE_MENU_ID = "ec08f5af-ddb4-445d-a74b-a6d2f1608e6c" # ID of your fully configured menu
TARGET_MENU_IDS = get_target_menu_ids(conn, rest id, subsec id)



# --- Script Logic ---
try:
    # Use your actual database connection details
    conn = your_db_connector.connect(
        dbname="your_db", user="your_user", password="your_password", host="your_host"
    )
    cur = conn.cursor()

    # 1. Fetch the side menu structure from the template
    cur.execute("SELECT id, name, limitCount, required FROM side_menus WHERE menu_id = %s", (TEMPLATE_MENU_ID,))
    template_side_menus = cur.fetchall()

    # 2. Loop through each target menu item
    for target_menu_id in TARGET_MENU_IDS:
        print(f"Applying side menus to menu_id: {target_menu_id}")

        # 3. Loop through the template's side menus
        for original_side_menu_id, name, limit_count, required in template_side_menus:

            # 4. Create a NEW side_menu for the target menu and get its new ID
            new_side_menu_id = str(uuid.uuid4())
            cur.execute(
                """
                INSERT INTO side_menus (id, name, limitCount, required, menu_id)
                VALUES (%s, %s, %s, %s, %s)
                """,
                (new_side_menu_id, name, limit_count, required, target_menu_id)
            )
            print(f"  - Created new side_menu '{name}' with new ID: {new_side_menu_id}")

            # 5. Fetch all options from the original side menu
            cur.execute("SELECT name, amount, price, type FROM side_menu_options WHERE side_menu_id = %s", (original_side_menu_id,))
            template_options = cur.fetchall()

            # 6. Create new side_menu_options linked to the NEW side_menu_id
            for opt_name, opt_amount, opt_price, opt_type in template_options:
                cur.execute(
                    """
                    INSERT INTO side_menu_options (id, name, amount, price, type, side_menu_id)
                    VALUES (%s, %s, %s, %s, %s, %s)
                    """,
                    (str(uuid.uuid4()), opt_name, opt_amount, opt_price, opt_type, new_side_menu_id)
                )

    # Commit all the changes to the database
    conn.commit()
    print("\nSuccessfully applied all side menus!")

except Exception as e:
    print(f"An error occurred: {e}")
    conn.rollback() # Roll back changes if anything fails
finally:
    if 'conn' in locals() and conn is not None:
        cur.close()
        conn.close()