<a href="https://colab.research.google.com/github/Mikop22/CFK/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

morty pub

wings

In [ ]:
-- Side Menu 1: Size
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Size",
    1,
    1,
    "{MENU_ID}",
    1
);

-- Options for Size
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(
    uuid(),
    "SMALL (6)",
    null,
    '{ "value": 1499, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1),
    1
),
(
    uuid(),
    "MEDIUM (12)",
    null,
    '{ "value": 2649, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1),
    2
),
(
    uuid(),
    "LARGE (18)",
    null,
    '{ "value": 3599, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1),
    3
),
(
    uuid(),
    "PARTY PACK (25)",
    null,
    '{ "value": 4799, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1),
    4
),
(
    uuid(),
    "50 WINGS",
    null,
    '{ "value": 9499, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1),
    5
),
(
    uuid(),
    "100 WINGS",
    null,
    '{ "value": 18799, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1),
    6
);

-- Side Menu 2: Wing Sauces
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Wing Sauces",
    1,
    1,
    "{MENU_ID}",
    2
);

-- Options for Wing Sauces
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(
    uuid(),
    "SIDE",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    1
),
(
    uuid(),
    "HEAVY",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    2
),
(
    uuid(),
    "PLAIN (No Sauce)",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    3
),
(
    uuid(),
    "Mild",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    4
),
(
    uuid(),
    "Medium",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    5
),
(
    uuid(),
    "Hot",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    6
),
(
    uuid(),
    "Suicide",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    7
),
(
    uuid(),
    "Butter Hot",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    8
),
(
    uuid(),
    "Ring of Fire",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    9
),
(
    uuid(),
    "Dry Cajun",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    10
),
(
    uuid(),
    "Wet Cajun",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    11
),
(
    uuid(),
    "Salt & Pepper",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    12
),
(
    uuid(),
    "Honey Garlic",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    13
),
(
    uuid(),
    "Sweet Thai Chili",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    14
),
(
    uuid(),
    "Chipotle Honey Mustard",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    15
),
(
    uuid(),
    "BBQ",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    16
),
(
    uuid(),
    "Sweet Heat",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    17
),
(
    uuid(),
    "SIDE PLUM",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Wing Sauces" ORDER BY id DESC LIMIT 1),
    18

buffalo salad

In [ ]:
-- Side Menu 3: Buff Sauce
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Buff Sauce",
    1,
    1,
    "{MENU_ID}",
    3
);

-- Options for Buff Sauce
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(
    uuid(),
    "SIDE",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    1
),
(
    uuid(),
    "BUFF Mild",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    2
),
(
    uuid(),
    "BUFF Medium",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    3
),
(
    uuid(),
    "BUFF Hot",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    4
),
(
    uuid(),
    "BUFF Suicide",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    5
),
(
    uuid(),
    "BUFF Butter Hot",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    6
),
(
    uuid(),
    "BUFF Ring of Fire",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    7
),
(
    uuid(),
    "BUFF Dry Cajun",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    8
),
(
    uuid(),
    "BUFF Wet Cajun",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    9
),
(
    uuid(),
    "BUFF Salt & Pepper",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    10
),
(
    uuid(),
    "BUFF Honey Garlic",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    11
),
(
    uuid(),
    "BUFF Sweet Thai Chili",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    12
),
(
    uuid(),
    "BUFF Chipotle Honey Mustard",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    13
),
(
    uuid(),
    "BUFF BBQ",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    14
),
(
    uuid(),
    "BUFF Plain (No Sauce)",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Buff Sauce" ORDER BY id DESC LIMIT 1),
    15
);

-- Side Menu 4: Salad Dressing / Removal
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Salad Dressing / Removal",
    50,
    0,
    "{MENU_ID}",
    4
);

-- Options for Salad Dressing / Removal
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(
    uuid(),
    "SIDE",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    1
),
(
    uuid(),
    "SLD Ranch",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    2
),
(
    uuid(),
    "SLD Blue",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    3
),
(
    uuid(),
    "SLD Dill",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    4
),
(
    uuid(),
    "SLD Greek Dressing",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    5
),
(
    uuid(),
    "SLD Caesar Dressing",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    6
),
(
    uuid(),
    "SLD Oil & Vinegar",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    7
),
(
    uuid(),
    "SLD Balsamic Vinegrette",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    8
),
(
    uuid(),
    "SLD POPPY",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1),
    9
),
(
    uuid(),
    "SLD TUSCAN",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "MULTIPLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}"

santa fe salad

In [ ]:
-- Side Menu 1: Santa Fe Meat
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Santa Fe Meat",
    1,
    1,
    "{MENU_ID_SANTA_FE_SALAD}",
    1
);

-- Options for Santa Fe Meat
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(
    uuid(),
    "Chicken",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Santa Fe Meat" ORDER BY id DESC LIMIT 1),
    1
),
(
    uuid(),
    "Beef",
    null,
    '{ "value": 0, "currency": "CAD" }',
    "SINGLE",
    (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Santa Fe Meat" ORDER BY id DESC LIMIT 1),
    2
);

-- Side Menu 2: Salad Dressing / Removal
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Salad Dressing / Removal",
    50,
    0,
    "{MENU_ID_SANTA_FE_SALAD}",
    2
);

-- Options for Salad Dressing / Removal
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "SIDE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SLD Ranch", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "SLD Blue", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "SLD Dill", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "SLD Greek Dressing", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "SLD Caesar Dressing", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "SLD Oil & Vinegar", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "SLD Balsamic Vinegrette", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "SLD POPPY", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "SLD TUSCAN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "SLD BERRY VIN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "SLD NO DRESSING", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 12),
(uuid(), "SLD NO TOMATO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 13),
(uuid(), "SLD NO CUCUMBER", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 14),
(uuid(), "SLD NO CABBAGE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 15),
(uuid(), "SLD NO CARROT", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 16),
(uuid(), "SLD NO CROUTONS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 17),
(uuid(), "SLD NO BACON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 18),
(uuid(), "SLD NO LEMON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 19),
(uuid(), "SLD NO BLACK OLIVE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 20),
(uuid(), "SLD NO FETA", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 21),
(uuid(), "SLD NO GRN PEPPER", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_SANTA_FE_SALAD}" AND name = "Salad Dressing / Removal" ORDER

house salad, greek, caesar

In [ ]:
-- Side Menu 1: Size
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Size",
    1,
    1,
    "{MENU_ID_HOUSE_SALAD}",
    1
);

-- Options for Size
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "SML", null, '{ "value": 799, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Size" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "LRG", null, '{ "value": 1149, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Size" ORDER BY id DESC LIMIT 1), 2);

-- Side Menu 2: SALAD - ADD CHICKEN
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "SALAD - ADD CHICKEN",
    1,
    0,
    "{MENU_ID_HOUSE_SALAD}",
    2
);

-- Options for SALAD - ADD CHICKEN
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "ADD CHICKEN", null, '{ "value": 499, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "SALAD - ADD CHICKEN" ORDER BY id DESC LIMIT 1), 1);

-- Side Menu 3: Salad Dressing / Removal
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Salad Dressing / Removal",
    50,
    0,
    "{MENU_ID_HOUSE_SALAD}",
    3
);

-- Options for Salad Dressing / Removal
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "SIDE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SLD Ranch", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "SLD Blue", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "SLD Dill", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "SLD Greek Dressing", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "SLD Caesar Dressing", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "SLD Oil & Vinegar", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "SLD Balsamic Vinegrette", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "SLD POPPY", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "SLD TUSCAN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "SLD BERRY VIN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "SLD NO DRESSING", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 12),
(uuid(), "SLD NO TOMATO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 13),
(uuid(), "SLD NO CUCUMBER", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 14),
(uuid(), "SLD NO CABBAGE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 15),
(uuid(), "SLD NO CARROT", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 16),
(uuid(), "SLD NO CROUTONS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 17),
(uuid(), "SLD NO BACON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 18),
(uuid(), "SLD NO LEMON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_HOUSE_SALAD}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 19),
(uuid(), "SLD NO BLACK OLIVE", null, '{ "value": 0, "currency":

rest

In [ ]:
-- Side Menu 1: Salad Dressing / Removal
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Salad Dressing / Removal",
    50,
    0,
    "{MENU_ID_STRAWBERRY_PECAN_FETA}",
    1
);

-- Options for Salad Dressing / Removal
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "SIDE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SLD Ranch", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "SLD Blue", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "SLD Dill", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "SLD Greek Dressing", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "SLD Caesar Dressing", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "SLD Oil & Vinegar", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "SLD Balsamic Vinegrette", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "SLD POPPY", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "SLD TUSCAN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "SLD BERRY VIN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "SLD NO DRESSING", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 12),
(uuid(), "SLD NO TOMATO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 13),
(uuid(), "SLD NO CUCUMBER", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 14),
(uuid(), "SLD NO CABBAGE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 15),
(uuid(), "SLD NO CARROT", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 16),
(uuid(), "SLD NO CROUTONS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 17),
(uuid(), "SLD NO BACON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 18),
(uuid(), "SLD NO LEMON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 19),
(uuid(), "SLD NO BLACK OLIVE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 20),
(uuid(), "SLD NO FETA", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 21),
(uuid(), "SLD NO GRN PEPPER", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 22),
(uuid(), "SLD NO CHEDDAR", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 23),
(uuid(), "SLD NO TORT STRAWS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 24),
(uuid(), "SLD NO TORT / NACHOS INSTD", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 25),
(uuid(), "SLD NO GUAC", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 26),
(uuid(), "SLD NO PICO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 27),
(uuid(), "SLD NO SPINACH", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 28),
(uuid(), "SLD NO EGG", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 29),
(uuid(), "SLD NO STRAWBERRY", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 30),
(uuid(), "SLD NO CRANBERRY", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 31),
(uuid(), "SLD NO ALMOND", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 32),
(uuid(), "SLD NO FETA", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 33),
(uuid(), "SLD NO AVOCADO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 34),
(uuid(), "SLD NO WALNUTS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 35),
(uuid(), "SLD NO BERRIES", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 36),
(uuid(), "SLD NO MUSHROOM", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_STRAWBERRY_PECAN_FETA}" AND name = "Salad Dressing / Removal" ORDER BY id DESC LIMIT 1), 37);

veggies main

In [ ]:
-- Side Menu 1: VEGGIE DRESSING
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "VEGGIE DRESSING",
    1,
    0,
    "{MENU_ID_VEGGIESM}",
    1
);

-- Options for VEGGIE DRESSING
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "SLD Ranch", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_VEGGIESM}" AND name = "VEGGIE DRESSING" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SLD Blue", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_VEGGIESM}" AND name = "VEGGIE DRESSING" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "SLD Dill", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_VEGGIESM}" AND name = "VEGGIE DRESSING" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "SLD Caesar Dressing", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_VEGGIESM}" AND name = "VEGGIE DRESSING" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "No Dressing", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_VEGGIESM}" AND name = "VEGGIE DRESSING" ORDER BY id DESC LIMIT 1), 5);

Fries, Onion rings

In [ ]:
-- Side Menu 1: XTRA FRIES
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "XTRA FRIES",
    10,
    0,
    "{MENU_ID_FRIES}",
    1
);

-- Options for XTRA FRIES
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "XTRA", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FRIES}" AND name = "XTRA FRIES" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SIDE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FRIES}" AND name = "XTRA FRIES" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "ADD GRAVY", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FRIES}" AND name = "XTRA FRIES" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "ADD CHIPO SC", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FRIES}" AND name = "XTRA FRIES" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "ADD CHIPO MAYO", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FRIES}" AND name = "XTRA FRIES" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "ADD MAYO", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FRIES}" AND name = "XTRA FRIES" ORDER BY id DESC LIMIT 1), 6);

Poutin

In [ ]:
-- Side Menu 1: $ POUTINE
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "$ POUTINE",
    10,
    0,
    "{MENU_ID_POUTINE}",
    1
);

-- Options for $ POUTINE
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "XTRA CHEESE CURDS", null, '{ "value": 199, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_POUTINE}" AND name = "$ POUTINE" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "XTRA GRAVY", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_POUTINE}" AND name = "$ POUTINE" ORDER BY id DESC LIMIT 1), 2);

sandos

In [ ]:
-- Side Menu 1: ADD/REMOVAL SDW
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "ADD/REMOVAL SDW",
    50,
    1,
    "{MENU_ID_CHICKEN_RANCH_WRAP}",
    1
);

-- Options for ADD/REMOVAL SDW
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "SIDE MAYO", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "BUN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "WRAP", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "WHITE BREAD", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "NO LETTUCE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "NO ONION SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "NO TOMATO SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "NO PICKLE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "NO FRIED ONIONS SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "NO FRIED MUSH SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "NO FRIED GRN PEP SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "NO GRN PEP SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 12),
(uuid(), "NO CABBAGE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 13),
(uuid(), "NO CARROT SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 14),
(uuid(), "NO CUCUM SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 15),
(uuid(), "NO DRESSING SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 16),
(uuid(), "NO CHEESE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 17),
(uuid(), "NO CHIPO MAYO SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 18),
(uuid(), "NO GARLIC AIOLI SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 19),
(uuid(), "NO AVOCADO SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 20),
(uuid(), "NO BACON SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 21),
(uuid(), "XTRA LETTUCE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_RANCH_WRAP}" AND name = "ADD/REMOVAL SDW" ORDER BY id DESC LIMIT 1), 22),
(uuid(), "XTRA TOMATO SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM

Chicken fingers

In [ ]:
-- Side Menu 1: Entree Side
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Entree Side",
    3,
    1,
    "{MENU_ID_CHICKEN_FINGERS}",
    1
);

-- Options for Entree Side
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "FRIES", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SIDE GRAVY", null, '{ "value": 99, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "NO SALT ON FRIES", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "SOUP", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "GARDEN SALAD", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "GREEK SALAD", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "CAESAR SALAD", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "ALL DRESSED FRIES", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "POUTINE", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "SWEET POTATO FRIES", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "ONION RINGS", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "NO SIDE", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHICKEN_FINGERS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 12);

Burger

In [ ]:
-- Side Menu 1: ADD/REMOVAL BRGR
INSERT INTO side_menus (id, name, limitCount, required, menu_id, `order`)
VALUES (uuid(), "ADD/REMOVAL BRGR", 50, 1, "{MENU_ID_BACON_CHEDDAR_BURGER}", 1);

INSERT INTO side_menu_options (id, name, amount, price, type, side_menu_id, `order`) VALUES
(uuid(), "EXTRA PATTY", null, '{ "value": 499, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "LOADED", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "PLAIN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "NO BUN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "NO LETTUCE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "NO ONION SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "NO TOMATO SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "NO PICKLE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "NO FRIED ONIONS SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "NO FRIED MUSH SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "NO CHEESE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "NO BACON SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 12),
(uuid(), "SDW NO BBQ SAUCE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 13),
(uuid(), "XTRA LETTUCE SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 14),
(uuid(), "XTRA TOMATO SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 15),
(uuid(), "XTRA RED ONION SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 16),
(uuid(), "XTRA PICKLES SDW", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 17),
(uuid(), "XTRA FRIED ONION SDW", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 18),
(uuid(), "XTRA FRIED MUSHROOM SDW", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 19),
(uuid(), "ADD CHEDDAR SDW", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 20),
(uuid(), "XTRA CHEESE SDW", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR" ORDER BY id DESC LIMIT 1), 21),
(uuid(), "ADD BACON SDW", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_BACON_CHEDDAR_BURGER}" AND name = "ADD/REMOVAL BRGR

Chili

In [ ]:
-- Side Menu 1: CHILLI MODS
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "CHILLI MODS",
    10,
    0,
    "{MENU_ID_CHILLI}",
    1
);

-- Options for CHILLI MODS
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "NO BREAD", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHILLI}" AND name = "CHILLI MODS" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "NO BREAD XTRA CHIPS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHILLI}" AND name = "CHILLI MODS" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "ADD 2oz SOUR CREAM", null, '{ "value": 199, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHILLI}" AND name = "CHILLI MODS" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "ADD CHEDDAR SHRED", null, '{ "value": 229, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHILLI}" AND name = "CHILLI MODS" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "XTRA TORT CHIPS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_CHILLI}" AND name = "CHILLI MODS" ORDER BY id DESC LIMIT 1), 5);

Fish and Chips

In [ ]:
-- Side Menu 1: Entree Side
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "Entree Side",
    3,
    1,
    "{MENU_ID_FISH_CHIPS}",
    1
);

-- Options for Entree Side
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "FRIES", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "SIDE GRAVY", null, '{ "value": 99, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "NO SALT ON FRIES", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "SOUP", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "GARDEN SALAD", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "GREEK SALAD", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "CAESAR SALAD", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "ALL DRESSED FRIES", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "POUTINE", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "SWEET POTATO FRIES", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "ONION RINGS", null, '{ "value": 399, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "NO SIDE", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "Entree Side" ORDER BY id DESC LIMIT 1), 12);

-- Side Menu 2: FISH CHIPS MODS
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "FISH CHIPS MODS",
    10,
    0,
    "{MENU_ID_FISH_CHIPS}",
    2
);

-- Options for FISH CHIPS MODS
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "XTRA FISH", null, '{ "value": 949, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "FISH CHIPS MODS" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "ADD GRAVY", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "FISH CHIPS MODS" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "XTRA TARTAR", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_FISH_CHIPS}" AND name = "FISH CHIPS MODS" ORDER BY id DESC LIMIT 1), 3);

Nachos

In [ ]:
-- Side Menu 1: NACHOS MODS
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "NACHOS MODS",
    10,
    0,
    "{MENU_ID_NACHOS}",
    1
);

-- Options for NACHOS MODS
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "DBLE CHEESE", null, '{ "value": 599, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "NACHOS MODS" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "NO MEAT", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "NACHOS MODS" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "CHICKEN", null, '{ "value": 499, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "NACHOS MODS" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "BEEF", null, '{ "value": 499, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "NACHOS MODS" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "CHILI", null, '{ "value": 499, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "NACHOS MODS" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "ITALIAN SAUSAGE", null, '{ "value": 499, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "NACHOS MODS" ORDER BY id DESC LIMIT 1), 6);

-- Side Menu 2: ADD/REMOVAL NACHOS
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "ADD/REMOVAL NACHOS",
    10,
    0,
    "{MENU_ID_NACHOS}",
    2
);

-- Options for ADD/REMOVAL NACHOS
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "NO GRN ONION", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "NO TOMATO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "NO PICO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "NO SOUR CREAM", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "NO SC / PICO INSTEAD", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "NO PICO / SC INSTEAD", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "XTRA GRN ONION", null, '{ "value": 49, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "XTRA TOMATO", null, '{ "value": 99, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_NACHOS}" AND name = "ADD/REMOVAL NACHOS" ORDER BY id DESC LIMIT 1), 8);

Bowls

In [ ]:
-- Side Menu 1: BOWL ADD / REMOVAL
INSERT INTO side_menus (
    id,
    name,
    limitCount,
    required,
    menu_id,
    `order`
)
VALUES (
    uuid(),
    "BOWL ADD / REMOVAL",
    20,
    0,
    "{MENU_ID_TEX_MEX_BOWL}",
    1
);

-- Options for BOWL ADD / REMOVAL
INSERT INTO side_menu_options (
    id,
    name,
    amount,
    price,
    type,
    side_menu_id,
    `order`
) VALUES
(uuid(), "ADD / XTRA 4OZ SC", null, '{ "value": 399, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 1),
(uuid(), "ADD 4OZ GUAC", null, '{ "value": 399, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 2),
(uuid(), "ADD / XTRA CHEESE", null, '{ "value": 299, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 3),
(uuid(), "ADD / XTRA CHICKEN", null, '{ "value": 499, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 4),
(uuid(), "NO AVOCADO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 5),
(uuid(), "NO BACON", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 6),
(uuid(), "NO BLK BEANS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 7),
(uuid(), "NO CABBAGE", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 8),
(uuid(), "NO CARROT", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 9),
(uuid(), "NO CELERY", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 10),
(uuid(), "NO CORN", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 11),
(uuid(), "NO GRN ONION", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 12),
(uuid(), "NO JALAPENOS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 13),
(uuid(), "NO KIDNEY BEANS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 14),
(uuid(), "NO SOUR CREAM", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 15),
(uuid(), "NO TOMATO", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 16),
(uuid(), "NO TORT STAWS", null, '{ "value": 0, "currency": "CAD" }', "MULTIPLE",
 (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID_TEX_MEX_BOWL}" AND name = "BOWL ADD / REMOVAL" ORDER BY id DESC LIMIT 1), 17);

Copper Branch

Chilli

In [ ]:
-- Side Menu 1: Size
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Size", 1, 1, "{MENU_ID}", 1 );

-- Options for Size
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Regular", null, '{ "value": 729, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Large", null, '{ "value": 919, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1), 2 );

Spicy buffalo wings

In [ ]:
-- Side Menu 1: Size
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Size", 1, 1, "{MENU_ID}", 1 );

-- Options for Size
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "3 pcs.", null, '{ "value": 999, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "6 pcs.", null, '{ "value": 1779, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Size" ORDER BY id DESC LIMIT 1), 2 );

Garlic Bread

tea

Pierogi house

pierogi

In [ ]:
-- Side Menu 1: Dietary Preferences
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Dietary Preferences", 1, 0, "{MENU_ID}", 1 );

-- Options for Dietary Preferences
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Vegetarian", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Dietary Preferences" ORDER BY id DESC LIMIT 1), 1 );



-- Side Menu 2: Choose your pierogies (mix up to 3 flavours)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose your pierogies (mix up to 3 flavours)", 3, 1, "{MENU_ID}", 2 );

-- Options for Choose your pierogies
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Potato & Cheddar (*most popular*)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Jalapeno & Cheddar", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Herbed Potato", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Bacon & Gouda", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Potato & Cottage", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Spinach & Feta", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 6 ),
( uuid(), "Maple Bacon", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 7 ),
( uuid(), "Smoked Mozzarella", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 8 ),
( uuid(), "Meat (Pork & Chicken)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 9 );



-- Side Menu 3: Make it meal? +2 sides (recommended)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Make it meal? +2 sides (recommended)", 1, 0, "{MENU_ID}", 3 );

-- Options for Make it meal
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Pickles + Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Pickles + Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Pickles + Sauerkraut", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Pickles + Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Coleslaw + Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Coleslaw + Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 6 ),
( uuid(), "Beet Salad + Sauerkraut (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 7 ),
( uuid(), "Beet Salad + Carrot Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 8 ),
( uuid(), "Sauerkraut + Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 9 ),
( uuid(), "2x Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 10 ),
( uuid(), "2x Sauerkraut", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 11 ),
( uuid(), "2x Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 12 ),
( uuid(), "2x

polish sausage

In [ ]:
-- Side Menu 1: Make it meal? +2 sides (recommended)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Make it meal? +2 sides (recommended)", 1, 0, "{MENU_ID}", 1 );

-- Options for Make it meal? +2 sides (recommended)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Pickles + Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Pickles + Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Pickles + Sauerkraut", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Pickles + Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Coleslaw + Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Coleslaw + Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 6 ),
( uuid(), "Beet Salad + Sauerkraut (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 7 ),
( uuid(), "Beet Salad + Carrot Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 8 ),
( uuid(), "Sauerkraut + Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 9 ),
( uuid(), "2x Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 10 ),
( uuid(), "2x Sauerkraut", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 11 ),
( uuid(), "2x Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 12 ),
( uuid(), "2x Pickles", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 13 ),
( uuid(), "2x Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 14 );



-- Side Menu 2: Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose sauteed onions (Kielbasa/Schnitzel)", 1, 0, "{MENU_ID}", 2 );

-- Options for Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Sauteed Onions (on Kielbasa/Schnitzel)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose sauteed onions (Kielbasa/Schnitzel)" ORDER BY id DESC LIMIT 1), 1 );

snitzzel

In [ ]:
-- Side Menu 1: Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose sauteed onions (Kielbasa/Schnitzel)", 1, 0, "{MENU_ID}", 1 );

-- Options for Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Sauteed Onions (on Kielbasa/Schnitzel)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose sauteed onions (Kielbasa/Schnitzel)" ORDER BY id DESC LIMIT 1), 1 );



-- Side Menu 2: Make it meal? +2 sides (recommended)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Make it meal? +2 sides (recommended)", 1, 0, "{MENU_ID}", 2 );

-- Options for Make it meal? +2 sides (recommended)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Pickles + Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Pickles + Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Pickles + Sauerkraut", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Pickles + Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Coleslaw + Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Coleslaw + Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 6 ),
( uuid(), "Beet Salad + Sauerkraut (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 7 ),
( uuid(), "Beet Salad + Carrot Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 8 ),
( uuid(), "Sauerkraut + Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 9 ),
( uuid(), "2x Coleslaw", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 10 ),
( uuid(), "2x Sauerkraut", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 11 ),
( uuid(), "2x Carrot Salad", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 12 ),
( uuid(), "2x Pickles", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 13 ),
( uuid(), "2x Beet Salad (Sold out)", null, '{ "value": 350, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Make it meal? +2 sides (recommended)" ORDER BY id DESC LIMIT 1), 14 );

Meat platter

In [ ]:
-- Side Menu 1: Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose sauteed onions (Kielbasa/Schnitzel)", 1, 0, "{MENU_ID}", 1 );

-- Options for Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Sauteed Onions (on Kielbasa/Schnitzel)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose sauteed onions (Kielbasa/Schnitzel)" ORDER BY id DESC LIMIT 1), 1 );



-- Side Menu 2: Add 12oz (large) side
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Add 12oz (large) side", 1, 0, "{MENU_ID}", 2 );

-- Options for Add 12oz (large) side
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Deli Pickles (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Beet Salad (12oz) (Sold out)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Sauerkraut (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Carrot Salad (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Coleslaw (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 5 );

Feast

In [ ]:
-- Side Menu 1: Choose your toppings
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose your toppings", 6, 0, "{MENU_ID}", 1 );

-- Options for Choose your toppings
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Sour Cream", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Chipotle Sour Cream", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Bacon", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Green Onions", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Sauteed Onions", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Homemade BBQ sauce", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 6 );



-- Side Menu 2: Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose sauteed onions (Kielbasa/Schnitzel)", 1, 0, "{MENU_ID}", 2 );

-- Options for Choose sauteed onions (Kielbasa/Schnitzel)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Sauteed Onions (on Kielbasa/Schnitzel)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose sauteed onions (Kielbasa/Schnitzel)" ORDER BY id DESC LIMIT 1), 1 );



-- Side Menu 3: Choose your pierogies (one flavour)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose your pierogies (one flavour)", 1, 1, "{MENU_ID}", 3 );

-- Options for Choose your pierogies (one flavour)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Potato & Cheddar (*most popular*)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (one flavour)" ORDER BY id DESC LIMIT 1), 1 );



-- Side Menu 4: Select your 12oz side
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Select your 12oz side", 1, 0, "{MENU_ID}", 4 );

-- Options for Select your 12oz side
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Carrot Salad (12oz)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Select your 12oz side" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Deli Pickles (12oz)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Select your 12oz side" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Beet Salad (12oz) (Sold out)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Select your 12oz side" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Sauerkraut (12oz)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Select your 12oz side" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Coleslaw (12oz)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Select your 12oz side" ORDER BY id DESC LIMIT 1), 5 );



-- Side Menu 5: Add 12oz (large) side
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Add 12oz (large) side", 1, 0, "{MENU_ID}", 5 );

-- Options for Add 12oz (large) side
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Deli Pickles (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Beet Salad (12oz) (Sold out)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Sauerkraut (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Carrot Salad (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Coleslaw (12oz)", null, '{ "value": 800, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Add 12oz (large) side" ORDER BY id DESC LIMIT 1), 5 );

pierogi platter\

In [ ]:
-- Side Menu 1: Choose your pierogies (mix up to 3 flavours)
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose your pierogies (mix up to 3 flavours)", 3, 1, "{MENU_ID}", 1 );

-- Options for Choose your pierogies (mix up to 3 flavours)
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Potato & Cheddar (*most popular*)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Jalapeno & Cheddar", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Herbed Potato", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Bacon & Gouda", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Potato & Cottage", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Spinach & Feta", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 6 ),
( uuid(), "Maple Bacon", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 7 ),
( uuid(), "Smoked Mozzarella", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 8 ),
( uuid(), "Meat (Pork & Chicken)", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your pierogies (mix up to 3 flavours)" ORDER BY id DESC LIMIT 1), 9 );



-- Side Menu 2: Choose your toppings
INSERT INTO side_menus ( id, name, limitCount, required, menu_id, `order` )
VALUES ( uuid(), "Choose your toppings", 6, 0, "{MENU_ID}", 2 );

-- Options for Choose your toppings
INSERT INTO side_menu_options ( id, name, amount, price, type, side_menu_id, `order` )
VALUES
( uuid(), "Sour Cream", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 1 ),
( uuid(), "Chipotle Sour Cream", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 2 ),
( uuid(), "Bacon", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 3 ),
( uuid(), "Green Onions", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 4 ),
( uuid(), "Sauteed Onions", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 5 ),
( uuid(), "Homemade BBQ sauce", null, '{ "value": 0, "currency": "CAD" }', "SINGLE",
  (SELECT id FROM side_menus WHERE menu_id = "{MENU_ID}" AND name = "Choose your toppings" ORDER BY id DESC LIMIT 1), 6 );

side veggiges